:root {
	--first-color: #00467f; 
	--second-color: #0064b5; 
	--third-color: #bfe2ff; 
	--white: #e8eef1;
}

.services {
    background: var(--third-color);
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
  }

  .children-header {
    color: var(--white);
    font-size: 3rem;
  }
  
  .left-column, .right-column {
    width: 48%; /* Adjust width as necessary */
    background: var(--first-color); /* Light green background */
    padding: 20px;
    border-radius: 8px;
  }
  
  .price-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: var(--second-color); /* Green background */
    color: var(--white);
    font-size: 10rem;
    margin: 20px auto;
    text-align: center;
  }
  
  .price {
    font-size: 3.3rem;
    font-weight: bold;
  }
  
  .month {
    font-size: 18px;
  }
  
  .details {
    list-style: none;
    padding: 0;
  }
  
  .details li {
    background: #2882cb; /* Lighter green background */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    color: var(--white);
    font-size: 1.5rem;
    width: 100%;
  }


  .right-column {
    color: var(--third-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  
  .about-lessons h2, .how-it-works h2, .get-started h2 {
    color: var(--white); /* Dark green color */
  }
  
  .about-lessons p, .how-it-works p, .get-started p {
    margin-bottom: 20px;
  }
  
  

/* Register seciton */

.register {
  background-color: var(--second-color);
}

.registerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#registrationForm {
  background: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center; /* Updated this line to center */
  padding: 20px;
  border-radius: 10px;
  width: 40%; 
}

/* Styling for Separator */
#registrationForm hr {
  border: none;
  width: 250px;
  height: 5px;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: 20px;
  /* Removed margin-left */
}

/* Styling for Labels */
.restistrationLb {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
  color: var(--third-color);
}

.instrumentLb {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1rem;
  color: var(--third-color);
}

/* Input and Textarea Styling */
#registrationForm input[type = "instrument"],
#registrationForm input[type = "phone"],
#registrationForm input[type="text"],
#registrationForm input[type="email"],
#registrationForm input[type="number"],
#registrationForm select,
#registrationForm textarea {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  font-weight: 500;
  color: var(--first-color);
  border-radius: 50px;
  margin-bottom: 20px;
  padding-left: 30px;
  /* Center the text inside the inputs */
  text-align: left;
}

/* Textarea Specific Styling */
#registrationForm textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

/* Focus Effect on Inputs and Textarea */
#registrationForm input:focus,
#registrationForm textarea:focus {
  border: 2px solid var(--first-color);
}

/* Placeholder Styling */
#registrationForm input::placeholder,
#registrationForm textarea::placeholder {
  color: #a9a9a9;
}

/* Button Styling */
#registrationForm button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 17px;
  color: var(--first-color);
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: var(--third-color);
  cursor: pointer;
  /* Center button text */
  justify-content: center;
  margin-bottom: 0;
}

/* Calendar */
#calendar {
  width: 40%;
  max-height: 100vh; /* Adjust this value as needed */
  background-color: var(--first-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enables vertical scrolling */
  border: 10px solid var(--first-color)
}

#calendar h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--third-color);
  text-align: center;
}

#calendar hr {
  border: none;
  width: 250px;
  height: 5px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px auto;
  /* Removed margin-left */
}


.week, .special {
  padding: 10px;
  margin: 5px 0;
  background-color: var(--third-color);
  border-left: 5px solid var(--third-color);
}

.special {
  background-color: var(--white);
  border-left-color: #ff0000;
}

h2 {
  margin: 0 0 20px 0;
  color: var(--first-color);
}

/* Add media queries to ensure responsiveness */
@media (max-width: 768px) {
  .flex-container, .registerContainer {
    flex-direction: column;
  }
  .left-column, .right-column {
    width: 100%;
    margin-bottom: 20px;
  }
  #calendar, #registrationForm {
    width: 100%;
    margin-bottom: 20px;
  }
  #calendar {
    height: 600px;
  }
  
}

.whatWeDoImg {
  width: 25rem;
}

.finePrint  {
  color: var(--white);
  text-align: left;
  font-size: 1.2rem;
  text-align: center;
}